.cardBox{
	background-color: lightblue;
	height: 120px;
	width: 95%;
	margin: 5% auto;
	vertical-align: center;
	text-align: center;
	border: 1px;

}
.playBox	{
	height: 100px;
	width: 50%;
	background-color: lightblue;
	vertical-align: center;
	text-align: center;
	margin: 5% auto;
}
