.page-header {
	margin-top: 0;
	/*height: 100px;*/
	background-color: lightgrey;
	h1 {
		text-decoration: underline;
		font-size: 3em;
		padding: 22px 0;
	}
}


#game {
	display: none;
}


@font-face {
	font-family:"Starjedi.ttf";
	src: url("../fonts/Starjedi.ttf")
}

@font-face {
	font-family:"Starhol.ttf";
	src: url("../fonts/Starjhol.ttf")
}


h1 {
	font-family: Starjedi;
}